body{
	background-color: gold;
}

header{
	width: auto;
	height: 50px;
	background: orange;
}

a{
	padding-right: 35px;
	font-size: 35px;
	padding-left: 7px;
}

content{
	width: auto;
	height: auto;
	
}

article{
	width: auto;
	height: auto;
	background:#F4A460;
	text-align: justify;
	font-size: 20px;
	word-spacing: 12px;
	padding-left: 10px;
	padding-right: 10px;
}

header,content{
	border-style: 5px; color:black;
}

